.bubble,
.bubble-text,
.bubble-icon,
.triangle,
.shadow {
  // these all grow to 1.6x the size
  transform: scale(0.8);

  &--edmonton {
    // 1076 664.29
    transform-origin: 43% 37% !important;
  }

  &--calgary {
    transform-origin: 39% 69%;
  }

  &--banff {
    transform-origin: 34% 69%;
  }
}

.dot-outer,
.dot-inner {
  transform: scale(0.8);
  transform-origin: 34% 69%;
}

//map grows to 3.16x the size

// line grows to 2.91x the size
#roadMask,
#road {
  transform-origin: 35.25% 66%;
  transform: scale(0.4);

  #road {
    stroke-dasharray: 0.3vw 0.3vw !important;
  }
}

//square grows to 2.6x the size
.square {
  transform-origin: 35%;
}
