// This is the sidebar on desktop with attraction info,
// on mobile it pulls up with a swipe

.attraction {
  --offset: 100%;
  // background-color: var(--white);
  background-color: var(--blue);
  border-radius: 1rem 1rem 0rem 0rem;
  bottom: 0;
  height: calc(100dvh - 5rem);
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 0 1rem;
  position: fixed;
  transform: translate(0, calc(var(--offset) - 3.5rem));
  transition: transform 0.25s ease-out;
  width: 100%;
  z-index: 2;

  &--open {
    background-color: var(--white);
    box-shadow: -20px 40px 80px rgba(0, 0, 0, 0.5);
    overflow: hidden scroll;
    transform: translate(0, 0);
    z-index: 4;
  }

  &--bounce {
    animation: bounce 0.25s ease-in-out;
  }

  @media screen and (min-width: 1024px) {
    background-color: var(--white);
    border-radius: 0;
    height: 100vh;
    min-width: 24.125rem;
    padding: 1.4rem 1.75rem;
    padding-bottom: 7.25rem;
    right: 0;
    top: 0;
    top: 6.5vw;
    transform: translate(100%, 0);
    width: 23vw;
    z-index: 2;

    &--open {
      transform: translate(0, 0);
      z-index: 4;
    }
  }
}

.attraction__wrapper {
  display: flex;
  flex-direction: column;
  transition: all 0.375s linear;
}

.attraction__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.attraction__header__mobile {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 2rem;
  padding-top: 0.5rem;

  .attraction--open & {
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.attraction__meta {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;

  img {
    border-width: 4px;
    transition: none;
  }

  .attraction__name {
    font-size: 1.3125rem;
    font-weight: 700;
    text-align: left;
    width: 50%;
  }
}

.attraction__back {
  background-color: transparent;
  border: none;
  color: var(--black);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding-left: 0;

  svg {
    margin-right: 0.38rem;
    width: 1.125rem;
  }

  &:hover {
    color: var(--red);

    path {
      fill: var(--red);
    }
  }
}

.attraction__info__images {
  border-left: 3px solid var(--white);
  border-right: 3px solid var(--white);
}

.attraction__image {
  border: 3px solid var(--red);
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);

  .attraction--open & {
    aspect-ratio: 1;
    height: auto;
    // height: 4.625rem;
    margin-right: 1rem;
    width: 4.625rem;
  }
}

.attraction__buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.55rem;

  .controls__button--prev {
    flex: 0.5;
    margin-left: auto;
    margin-right: -0.85rem;
  }

  .controls__button--next {
    margin-right: 0;
  }
}

.attraction__buttons .arrow {
  width: 1.575rem;

  &--open {
    transform: rotateZ(180deg);
  }
}

.controls__button--attraction svg.arrow {
  border-radius: 50%;
  height: 2.625rem;
  width: 2.625rem;
}

.attraction__arrow {
  display: block;
  filter: grayscale(1) brightness(100);
  margin: 0.25rem auto;

  .attraction--open & {
    filter: grayscale(1) brightness(0);
    transform: rotateZ(180deg);
  }

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.attraction__name {
  display: block;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4375rem; /* 109.524% */
  text-align: center;
  width: 100%;

  .attraction__header__mobile & {
    color: var(--white);
  }

  .attraction--open .attraction__header__mobile & {
    color: var(--black);
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  @media screen and (min-width: 1024px) {
    color: var(--black);
    font-size: 1.3125rem;
    font-weight: 700;
    text-align: left;
    width: 50%;
  }

  .attraction--open & {
    margin-left: 0;
    margin-right: auto;
  }

  &--disabled {
    @media (min-width: 1024px) {
      color: var(--grey);
    }
  }
}

.attraction__day {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4375rem; /* 115% */
  margin-bottom: 0.55rem;
  text-align: left;
  width: 100%;
}

.attraction__description {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4375rem; /* 143.75% */
}

.attraction__info__details {
  display: inline-block;
  padding-bottom: 0.55rem;

  img {
    margin-right: 0.625rem;
    width: 1.375rem;
  }

  span {
    align-items: center;
    display: flex;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 112.5% */
    margin-bottom: 1rem;
  }
}

.attraction__info__images {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin: 0 0 1.75rem -1.75rem;
  width: calc(100% + 3.5rem);
}

.attraction__info__media {
  max-width: 100%;

  &:nth-child(2),
  &:nth-child(3) {
    width: calc(50% - 1px); // half gap
  }
}

.attraction__links__title {
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem; /* 123.81% */
}

.attraction__links__links {
  margin-bottom: 1.75rem;
  padding-left: 0;
}

.attraction__links__links li {
  display: flex;
  margin-bottom: 1rem;

  a {
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
  }

  & > img {
    grid-column: 1;
    grid-row: 1;
    margin-right: 1.25rem;
    width: 33%;
  }

  &.column {
    flex-direction: column;
  }
}

.attraction__links__link-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.attraction__links__link-wrapper strong {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.625rem; /* 144.444% */
  margin-bottom: 0.25rem;
}

.attraction__links__link {
  align-items: flex-start;
  color: var(--red);
  display: flex;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1875rem; /* 118.75% */

  img {
    margin-right: 1.25rem;
    padding-top: 0.25rem;
    width: 0.75rem;
  }

  &--external img {
    margin-left: 0.5rem;
  }
}

@keyframes bounce {
  0% {
    transform: translate(0, calc(var(--offset) - 3.5rem));
  }
  50% {
    transform: translate(0, calc(var(--offset) - 4rem));
  }
  100% {
    transform: translate(0, calc(var(--offset) - 3.5rem));
  }
}

.fade {
  transition-duration: 0.5s;
}

.fade-forward-enter {
  opacity: 0;
  // transform: translate(25%, 0);
}

.fade-backward-enter {
  opacity: 0;
  // transform: translate(-25%, 0);
}

.fade-forward-enter-active {
  opacity: 1;
  // transform: translate(0%, 0%);
}

.fade-backward-enter-active {
  opacity: 1;
  // transform: translate(0%, 0%);
}

.fade-enter-done {
  opacity: 1;
  // transform: translate(0, 0);
}

.fade-forward-exit {
  opacity: 1;
  // transform: translate(0, 0);
}

.fade-backward-exit {
  opacity: 1;
  // transform: translate(0, 0);
}

.fade-forward-exit-active {
  opacity: 0;
  // transform: translate(-25%, 0);
}

.fade-backward-exit-active {
  opacity: 0;
  // transform: translate(25%, 0);
}

.fade-forward-exit-done {
  opacity: 0;
  // transform: translate(-25%, 0);
}

.fade-forward-exit-done {
  opacity: 0;
  // transform: translate(25%, 0);
}
