.controls {
  bottom: 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  padding: 0 1.25rem;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 2;

  @media screen and (min-width: 1024px) {
    bottom: 1.33rem;
    left: 38.5vw;
    min-width: 700px;
    transform: translate(-50%, 0);
    width: 40vw;
    z-index: 3;
  }
}

.controls__buttons {
  display: flex;
  flex: 0.35;
  justify-content: space-between;

  @media screen and (min-width: 1024px) {
    flex: 1;
  }
}

.controls__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 1.8125rem;
  padding: 0;
  width: 1.8125rem;

  svg {
    width: 1.8125rem;
  }

  .arrow {
    transition: transform 0.1s ease-in;

    &:active,
    &:hover {
      transform: scale(1.1);
    }

    circle {
      fill: var(--grey);
    }

    &--active {
      circle {
        fill: (var(--red));
      }
    }

    &--prev {
      transform: rotate(180deg);
      &:active,
      &:hover {
        transform: rotate(180deg) scale(1.1);
      }
    }
  }

  @media screen and (min-width: 1024px) {
    height: 2.8125rem;
    width: 2.8125rem;

    svg {
      width: 2.8125rem;
    }
  }
}

.controls__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  position: relative;
  width: 100%;

  @media screen and (min-width: 1024px) {
    margin-bottom: 1rem;
  }
}

.controls__list__progress {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  height: 0.125rem;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  z-index: -1;

  &::-webkit-progress-bar {
    background: var(--white);
  }

  &::-webkit-progress-value {
    background: var(--red);
    transition: all 0.25s linear;
  }

  @media screen and (min-width: 1024px) {
    height: 0.25rem;
  }
}

.controls__list__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  // margin-left: 0.89rem;
  padding: 0;
}

.controls__pip {
  background: var(--white);
  border: 1px solid var(--white);
  border-radius: 50%;
  color: transparent;
  cursor: pointer;
  height: 0.35rem;
  margin: 0 0.5rem;
  padding: 0;
  transition: all 0.2s linear;
  width: 0.35rem;

  &:hover {
    transform: scale(1.5);
  }

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &--active {
    background: var(--red);
    border-color: var(--red);
    transform: scale(1.25);
  }

  @media screen and (min-width: 1024px) {
    height: 0.6875rem;
    width: 0.6875rem;
  }
}

.controls__list__days {
  display: flex;
  padding-left: 0;
  width: 100%;

  @media screen and (min-width: 1024px) {
    transform: translate(-1rem, 0);
  }
}

.controls__list__day {
  color: var(--white);
  font-family: "Futura PT Multilingual W01", "Myriad Pro", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125rem; /* 120% */
  margin-right: 30.25%;
  text-align: center;

  &:nth-child(2) {
    transform: translate(-50%, 0);
  }

  &:last-child {
    margin-right: 0;
    transform: translate(-150%, 0);
  }

  @media screen and (min-width: 1024px) {
    font-size: 0.9375rem;

    &:nth-child(2) {
      transform: translate(50%, 0);
    }

    &:last-child {
      transform: translate(0, 0);
    }
  }
}
