.controls {
  bottom: 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  padding: 0 1.25rem;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 3;

  @media screen and (min-width: 1024px) {
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40vw;
  }
}

.controls__buttons {
  display: flex;
  justify-content: space-between;
}

.controls__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 1.8125rem;
  padding: 0;
  width: 1.8125rem;

  svg {
    width: 1.8125rem;
  }

  .arrow {
    transition: transform 0.1s ease-in;

    &:active,
    &:hover {
      transform: scale(1.1);
    }

    circle {
      fill: var(--grey);
    }

    &--active {
      circle {
        fill: (var(--red));
      }
    }

    &--prev {
      transform: rotate(180deg);
      &:active,
      &:hover {
        transform: rotate(180deg) scale(1.1);
      }
    }
  }

  @media screen and (min-width: 1024px) {
    height: 2.8125rem;
    width: 2.8125rem;

    svg {
      width: 2.8125rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .controls__button--next {
    margin-right: 2.8125rem;
  }

  .controls__button--prev {
    margin-left: 2.8125rem;
  }
}

.controls__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  position: relative;
  width: 100%;
}

.controls__list__progress {
  -webkit-appearance: none !important;
  appearance: none !important;
  display: block;
  height: 0.25rem;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  z-index: -1;

  &::-webkit-progress-bar {
    background: var(--white);
  }

  &::-webkit-progress-value {
    background: var(--red);
  }
}

.controls__list__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  // margin-left: 0.89rem;
  padding: 0;
}

.controls__pip {
  background: var(--white);
  border: 1px solid var(--white);
  border-radius: 50%;
  color: transparent;
  height: 0.6875rem;
  margin: 0 0.5rem;
  padding: 0;
  width: 0.6875rem;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &--active {
    background: var(--red);
    border-color: var(--red);
    transform: scale(1.25);
  }
}
