// .itinerary-outline {
//   background: #ffffff;
//   border-top-left-radius: 1rem;
//   border-top-right-radius: 1rem;
//   bottom: 0;
//   left: 0;
//   max-height: 100vh;
//   -webkit-overflow-scrolling: touch;
//   overflow-x: hidden;
//   overflow-y: scroll;
//   position: fixed;
//   transform: translate(0, calc(100% - 2rem));
//   width: 100%;
//   z-index: 3;

//   &--open {
//     transform: translate(0, 0);
//   }
// }

// .itinerary-outline__toggle {
//   align-items: center;
//   all: unset;
//   display: flex;
//   // background-color: transparent;
//   // border: none;
//   height: 2rem;
//   justify-content: center;
//   padding: 0.25rem 1rem;
//   width: 100%;
// }

// .itinerary-outline__item__toggle-icon {
//   position: absolute;
//   top: 0;
//   right: 0;
//   font-weight: 800;
//   font-size: 1.5rem;
// }

// .itinerary-outline__items {
//   padding: 0 1rem;

//   ul {
//     padding: 0;
//   }
// }

// .itinerary-outline__item__toggle {
//   all: unset;
//   position: relative;
// }

// .itinerary-outline__item {
//   ul {
//     height: 0;
//     overflow: hidden;
//   }

//   &--open {
//     ul {
//       height: auto;
//     }
//   }
// }

.itinerary {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  position: fixed;
  top: 0;
  transform: translate(0, -100%);
  width: 100%;
  z-index: 2;

  &--open {
    transform: translate(0, 0);
  }
}

.itinerary__toggle {
  left: 0;
  position: fixed;
  top: 0;
  z-index: 3;
}

.itinerary__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.itinerary__day__description {
  font-family: Futura PT;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4375rem; /* 143.75% */
  width: 100%;
}

.itinerary__day__stops {
  list-style: none;
  padding-left: 0;
}

.itinerary__stop {
  align-items: center;
  display: flex;
  margin-bottom: 2rem;
}

.itinerary__stop__image {
  margin-right: 1rem;
  width: 3.5rem;
}

.itinerary__stop__name {
  display: inline-block;
  max-width: 11.75rem;
}
