// canvas {
//   height: 100dvh;
//   width: 100%;
// }

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #b0b1b8;
  display: flex;
  flex-direction: column;
  font-family: "Futura PT Multilingual W01", "Myriad Pro", sans-serif;
  height: 100dvh;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.wrapper {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &::after {
    // background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    bottom: 0;
    content: "";
    display: block;
    height: 25vh;
    left: 0;
    pointer-events: none;
    position: fixed;
    width: 100%;
    z-index: 0;
  }
}

.loading {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.road-trip {
  --black: #000000;
  --blue: #073142;
  --grey: #787878;
  --grey-light: #b6b6b6;
  --white: #ffffff;
  --red: #9c0f00;
  --turquoise: #00a79a;
  height: 100dvh;
  position: relative;
  width: 100vw;

  z-index: 1;

  @media (min-width: 625px) {
    width: 100vw;
  }

  // @media (min-width: 1024px) {
  //   width: 77vw;
  // }

  &::before {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 76.04%,
      rgba(0, 0, 0, 0.5) 100%
    );
    bottom: 0;
    content: "";
    left: 0;

    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

.compass-container {
  margin: 0;
  position: fixed;
  right: 1rem;
  top: -0.25rem;
  transform-style: preserve-3d;
  z-index: 2;

  @media screen and (min-width: 1024px) {
    right: 27vw;
    top: 7.0625rem; // nav offset + 1rem
  }
}

.compass {
  height: auto;
  width: 5rem;

  @media screen and (min-width: 1024px) {
    width: 5rem;
  }
}

.close-tour {
  background: var(--red);
  border: none;
  color: var(--white);
  cursor: pointer;
  left: 0;
  padding: 0.625rem 1rem;
  position: fixed;
  top: 1vw;
  z-index: 3;

  &:hover {
    background: var(--black);
    text-decoration: underline;
  }

  @media screen and (min-width: 420px) {
    left: 1.75rem;
  }

  @media screen and (min-width: 1024px) {
    top: 8.0625rem;
  }

  img {
    padding-right: 0.625rem;
  }
}

// .experience {
//   padding-top: 17.5vw;

//   @media screen and (min-width: 420px) {
//     padding-top: 6.5vw;
//   }
// }

.loading {
  background-color: #ffffff;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
