// canvas {
//   height: 100dvh;
//   width: 100%;
// }

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #b0b1b8;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.loading {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

// .attraction,
// .itinerary {
//   transform: translate(100%, 0);
// }

.road-trip {
  --black: #000000;
  --grey: #787878;
  --white: #ffffff;
  --red: #9c0f00;
  --turquoise: #00a79a;
  height: 100dvh;
  position: relative;
  width: 100vw;

  z-index: 1;

  @media (min-width: 625px) {
    width: 100vw;
  }

  .itinerary,
  .attraction {
    transform: translate(100%, 0);
  }

  // @media (min-width: 1024px) {
  //   width: 77vw;
  // }

  // &::before {
  //   background: linear-gradient(
  //     0deg,
  //     rgba(26, 43, 55, 0) 76.04%,
  //     rgba(26, 43, 55, 0.7) 100%
  //   );
  //   bottom: 0;
  //   content: "";
  //   left: 0;

  //   pointer-events: none;
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  //   z-index: 2;
  // }
}
