// canvas {
//   height: 100vh;
//   width: 100%;
// }

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #b0b1b8;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.loading {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.road-trip {
  --black: #000000;
  --grey: #787878;
  --white: #ffffff;
  --red: #9c0f00;
  --turquoise: #00a79a;
  height: 100vh;
  position: relative;
  width: 100vw;

  z-index: 1;

  @media (min-width: 625px) {
    width: 100vw;
  }

  &::before {
    background: linear-gradient(0deg, rgba(26, 43, 55, 0) 76.04%, #1a2b37 100%);
    bottom: 0;
    content: "";
    left: 0;

    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }
}

.controls {
  bottom: 5vh;
  display: flex;
  position: absolute;
  right: 5vw;
  z-index: 3;
}
